<div class="signup-container">
  <div class="signup-card">
    <h2>Create Account</h2>
    <p class="subtitle">Enjoy BautistaCorp today</p>
    
    <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
      <div class="form-row">
        <div class="form-group">
          <label for="firstName">First Name *</label>
          <input 
            type="text" 
            id="firstName" 
            name="firstName" 
            [(ngModel)]="signupData.firstName" 
            required
            placeholder="First name"
          >
        </div>
        
        <div class="form-group">
          <label for="lastName">Last Name *</label>
          <input 
            type="text" 
            id="lastName" 
            name="lastName" 
            [(ngModel)]="signupData.lastName" 
            required
            placeholder="Last name"
          >
        </div>
      </div>
      
      <div class="form-group">
        <label for="username">Username *</label>
        <input 
          type="text" 
          id="username" 
          name="username" 
          [(ngModel)]="signupData.username" 
          required
          placeholder="Choose a username"
        >
      </div>
      
      <div class="form-group">
        <label for="email">Email *</label>
        <input 
          type="email" 
          id="email" 
          name="email" 
          [(ngModel)]="signupData.email" 
          required
          placeholder="your@email.com"
        >
      </div>
      
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input 
          type="tel" 
          id="phoneNumber" 
          name="phoneNumber" 
          [(ngModel)]="signupData.phoneNumber" 
          placeholder="+63 9XX XXX XXXX"
        >
      </div>
      
      <div class="form-group">
        <label for="password">Password *</label>
        <input 
          type="password" 
          id="password" 
          name="password" 
          [(ngModel)]="signupData.password" 
          required
          minlength="6"
          placeholder="At least 6 characters"
        >
      </div>
      
      <div class="form-group">
        <label for="confirmPassword">Confirm Password *</label>
        <input 
          type="password" 
          id="confirmPassword" 
          name="confirmPassword" 
          [(ngModel)]="signupData.confirmPassword" 
          required
          placeholder="Re-enter password"
        >
      </div>
      
      <div class="error-message" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      
      <button 
        type="submit" 
        class="btn-signup" 
        [disabled]="!signupForm.valid || isLoading"
      >
        {{ isLoading ? 'Creating account...' : 'Sign Up' }}
      </button>
    </form>
    
    <div class="login-link">
      Already have an account? <a routerLink="/login">Login</a>
    </div>
  </div>
</div>