<div class="header">
  <div class="header-container">
    <div class="logo-section">
      <a routerLink="">
        <img src="../assets/BCorpText.png" alt="GMART Logo" class="logo" />
      </a>
      <p class="tagline">Where you enjoy the most shopping experience</p>
    </div>
    
    <nav class="nav-menu">
      <button 
        *ngFor="let menu of menus" 
        class="nav-button" 
        routerLink="/{{menu.routerPath}}"
      >
        {{menu.name}}
      </button>
    </nav>
  </div>
</div>